header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.LeftHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LeftHeader .back_button {
  font-size: x-large;
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  background-color: rgb(194, 194, 194);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-right: 15px;
}

.RightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: rgb(189, 189, 189);
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 15px;
  width: 265px;
}

.search img {
  margin-left: 5px;
  margin-right: 10px;
}

@media screen and (max-width: 810px) {
  header {
    display: inline;
    background-color: yellow;
  }
  .LeftHeader {
    margin-bottom: 10px;
  }
}
